
.img-wrapper {
  display: block;
  width: 20%;
  padding: 10px 15px;
}

.img-wrapper > img {
  width: 100%;
}

#camera:hover #body:hover {
	fill: black;
}

#canvas:hover #canvasboard:hover {
  fill: #17D1E5;
}

#masks:hover #sface:hover {
  fill: black;
}

#microphone:hover #body:hover {
  fill: red;
}

#paintbrush:hover #paint:hover {
  fill: blue;
}

#pencil:hover #pencilbody:hover {
  fill: #FCCD06;
}

#roller:hover #sponge:hover {
  fill: #7759D8;
}

#moviecamera:hover #body:hover {
	fill: green;
}

#musicnotes:hover #twonotes:hover {
	fill: #D31DD8; 
}

